name: Obter dados

on:
  push:
  workflow_dispatch:
  # schedule:
  #  - cron:  '*/1440 * * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repo
      uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
    - name: setup python
      uses: actions/setup-python@v2
      with:
         python-version: 3.8 #install the python needed    
    - name: Get the data
      run: |
        chmod +x ./get_mobie.sh
        ./get_mobie.sh
      shell: bash
    - name: compare.py
      run: |
        python compare.py
    - name: find.py
      run: |
        python find.py
    - name: Check and log changes
      run: |
        chmod +x ./log_changes.sh
        ./log_changes.sh
      shell: bash
    - name: Commit and push if it changed
      run: |-
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "Latest data: ${timestamp}" || exit 0
        git push
